USE [colegio_san_jose_core]
GO
ALTER TABLE [dbo].[Subjects] DROP CONSTRAINT [FK__Subjects__Teache__3E52440B]
GO
ALTER TABLE [dbo].[StudentSubjects] DROP CONSTRAINT [FK__StudentSu__Subje__4222D4EF]
GO
ALTER TABLE [dbo].[StudentSubjects] DROP CONSTRAINT [FK__StudentSu__Stude__412EB0B6]
GO
ALTER TABLE [dbo].[Login] DROP CONSTRAINT [FK__Login__TeacherId__45F365D3]
GO
ALTER TABLE [dbo].[Teachers] DROP CONSTRAINT [DF__Teachers__BirthD__37A5467C]
GO
ALTER TABLE [dbo].[Students] DROP CONSTRAINT [DF__Students__BirthD__3A81B327]
GO
ALTER TABLE [dbo].[Login] DROP CONSTRAINT [DF__Login__Status__44FF419A]
GO
/****** Object:  Index [UQ__Subjects__9F7CE1A9125F9845]    Script Date: 8/11/2025 16:31:07 ******/
ALTER TABLE [dbo].[Subjects] DROP CONSTRAINT [UQ__Subjects__9F7CE1A9125F9845]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 8/11/2025 16:31:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teachers]') AND type in (N'U'))
DROP TABLE [dbo].[Teachers]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 8/11/2025 16:31:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Subjects]') AND type in (N'U'))
DROP TABLE [dbo].[Subjects]
GO
/****** Object:  Table [dbo].[StudentSubjects]    Script Date: 8/11/2025 16:31:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StudentSubjects]') AND type in (N'U'))
DROP TABLE [dbo].[StudentSubjects]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 8/11/2025 16:31:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Students]') AND type in (N'U'))
DROP TABLE [dbo].[Students]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 8/11/2025 16:31:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Login]') AND type in (N'U'))
DROP TABLE [dbo].[Login]
GO
USE [master]
GO
/****** Object:  Database [colegio_san_jose_core]    Script Date: 8/11/2025 16:31:07 ******/
DROP DATABASE [colegio_san_jose_core]
GO
/****** Object:  Database [colegio_san_jose_core]    Script Date: 8/11/2025 16:31:07 ******/
CREATE DATABASE [colegio_san_jose_core]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'colegio_san_jose_core', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\colegio_san_jose_core.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'colegio_san_jose_core_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\colegio_san_jose_core_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [colegio_san_jose_core].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [colegio_san_jose_core]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 8/11/2025 16:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NULL,
	[Username] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 8/11/2025 16:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Surname] [nvarchar](150) NOT NULL,
	[BirthDate] [datetime2](7) NULL,
	[Degree] [nvarchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSubjects]    Script Date: 8/11/2025 16:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSubjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[FinalGrade] [decimal](5, 2) NULL,
	[Observations] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 8/11/2025 16:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [nvarchar](20) NOT NULL,
	[SubjectName] [nvarchar](200) NOT NULL,
	[TeacherId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 8/11/2025 16:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Surname] [nvarchar](150) NOT NULL,
	[BirthDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([Id], [TeacherId], [Username], [Password], [Status]) VALUES (1, 1, N'admin', N'JAvlGPq9JyTdtvBO6x2llnRI1+gxwIyPqCKAn3THIKk=', 1)
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [Surname], [BirthDate], [Degree]) VALUES (1, N'Juan', N'Pérez', CAST(N'2010-03-12T00:00:00.0000000' AS DateTime2), N'5A')
INSERT [dbo].[Students] ([Id], [Name], [Surname], [BirthDate], [Degree]) VALUES (2, N'María', N'López', CAST(N'2011-07-25T00:00:00.0000000' AS DateTime2), N'5A')
INSERT [dbo].[Students] ([Id], [Name], [Surname], [BirthDate], [Degree]) VALUES (3, N'Andrés', N'Castillo', CAST(N'2009-11-05T00:00:00.0000000' AS DateTime2), N'6B')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentSubjects] ON 

INSERT [dbo].[StudentSubjects] ([Id], [StudentId], [SubjectId], [FinalGrade], [Observations]) VALUES (1, 1, 1, CAST(8.50 AS Decimal(5, 2)), N'Buen desempeño general')
INSERT [dbo].[StudentSubjects] ([Id], [StudentId], [SubjectId], [FinalGrade], [Observations]) VALUES (2, 1, 2, CAST(9.00 AS Decimal(5, 2)), N'Excelente lectura y escritura')
INSERT [dbo].[StudentSubjects] ([Id], [StudentId], [SubjectId], [FinalGrade], [Observations]) VALUES (3, 2, 1, CAST(7.80 AS Decimal(5, 2)), N'Debe mejorar en fracciones')
SET IDENTITY_INSERT [dbo].[StudentSubjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [SubjectCode], [SubjectName], [TeacherId]) VALUES (1, N'MAT101', N'Matemáticas', 1)
INSERT [dbo].[Subjects] ([Id], [SubjectCode], [SubjectName], [TeacherId]) VALUES (2, N'LEN102', N'Lengua Española', 2)
INSERT [dbo].[Subjects] ([Id], [SubjectCode], [SubjectName], [TeacherId]) VALUES (3, N'HIS103', N'Historia', 3)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([Id], [Name], [Surname], [BirthDate]) VALUES (1, N'Carlos', N'Ramírez', CAST(N'1980-04-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Teachers] ([Id], [Name], [Surname], [BirthDate]) VALUES (2, N'Laura', N'Fernández', CAST(N'1985-09-21T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Teachers] ([Id], [Name], [Surname], [BirthDate]) VALUES (3, N'Miguel', N'Gómez', CAST(N'1990-01-10T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subjects__9F7CE1A9125F9845]    Script Date: 8/11/2025 16:31:07 ******/
ALTER TABLE [dbo].[Subjects] ADD UNIQUE NONCLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Login] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (getdate()) FOR [BirthDate]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT (getdate()) FOR [BirthDate]
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[StudentSubjects]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentSubjects]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
USE [master]
GO
